<!DOCTYPE html>
<html>
  <head>
    <link rel= 'stylesheet' href='{{ url_for('static', filename='css/bootstrap.css') }}'</link>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/rang.css') }}'</link>
    <link rel='javascript' href="http://code.jquery.com/jquery-2.1.0.min.js"/ >

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44309915-2', 'texasboomerangs.org');
      ga('send', 'pageview');

    </script>

      <meta name="description" content="The Official Website of the Texas Boomerangs, a friendship club at the University of Texas at Austin."/>
      <meta name="keywords" content="texas boomerangs txboomerangs texasboomerangs"/>
      <meta name="author" content="Matthew Ebeweber"/>
      <meta charset="UTF-8">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/boomerang.ico') }}" type="image/png">
    <title>Texas Boomerangs</title>
  </head>
  <body>
        <!-- NavBar n' Stuff -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" onclick="$('html,body').animate({scrollTop: $('body').offset().top}, 1000)">Texas Boomerangs</a>

                        <ul class="nav pull-right">
                            <li><a onclick="$('html,body').animate({scrollTop: $('.history-sect').offset().top}, 1000)">History</a></li>
                            <li><a onclick="$('html,body').animate({scrollTop: $('.members-sect').offset().top}, 1000)">Members</a></li>
                            <li><a onclick="$('html,body').animate({scrollTop: $('.test-sect').offset().top}, 1000)">Testimonials</a></li>
                            <li><a href="https://twitter.com/TexasBoomerangs">@TexasBoomerangs</a></li>
                            <li class="texas"><a href="https://docs.google.com/forms/d/1NAt0C686c4J15poOv5HNBSRU-F5MfrgujbX28rcJHyI/viewform"><img src="{{ url_for('static', filename='img/texas.png') }}"/></a></li>
                        </ul>
                        </div>
            </div>
        </div>


        <!-- Big Boomerang Picture -->
        <img class="rang-picture" src="{{ url_for('static', filename='img/boomerang.jpg') }}"/>

        <!-- About Us Section -->
        <div class="aboutus-sect">
            <div class="row-fluid au-txt">
                <div class="span4 offset2">
                    <h2 class="au-title">Super Exclusive</h2>
                    <p class="au-info">Want to join? Fill out an application. Oh wait.. we are so exclusive there isn't one.</p>
                </div>
                <div class="span4">
                    <h2 class="au-title">Secreter Than Skull & Bones</h2>
                    <p class="au-info">Ever heard of us? That's what I thought. </p>
                </div>
            </div>

            <div class="row-fluid au-txt">
                <div class="span4 offset2">
                    <h2 class="au-title">Stronger Than Wranglers</h2>
                    <p class="au-info">Do you even lift?</p>
                </div>
                <div class="span4">
                    <h2 class="au-title">Endowed Alumni</h2>
                    <p class="au-info">With alumni like Steve Irwin, Kevin Durant, and Bill Powers our members consist of
                    some of the most well known and respected individuals in the world.</p>
                </div>
            </div>

            <div class="row-fluid au-txt">
                <div class="span4 offset2">
                    <h2 class="au-title">Hotter Than Spirits</h2>
                    <p class="au-info">Every single one of us is a model.</p>
                </div>
                <div class="span4">
                    <h2 class="au-title">Richer than Fiji</h2>
                    <p class="au-info">Because they are poor.</p>
                </div>
            </div>
        </div>

        <!-- History Section -->
        <div class="history-sect">
            <h1 class="hell-title hist-title">Our History</h1>
            <div class="row-fluid hist-info">
                <div class="span6 offset3 lead">
                    <p>It was a dark and stormy night in mid September 2013 when the original Boomerangs stumbled upon something that could only be described as a gift from above. As Juan Jimenez ran towards what would be the greatest club in the Universe, he had no idea of the greatness that was to come.</p>

                    <p>“Yo, look what I found guys!” He fumbled through the bushes and pulled out what could only be described as a half triangle from the gods.</p>

                    <p>The founders dusted off the brown, bent object. “What should we call it…” asked Matt, the soon to be Head Boomer.</p>

                    <p>“It’s a fucking boomerang you fucking idiot.”</p>

                    <p>And so begins the story of the Texas Boomerangs.</p>
                </div>
            </div>
        </div>

        <!-- Preloaded the image for boomerguy to avoid delayed hover -->
        <img style="display:none" src="{{ url_for('static', filename='img/boomerguy.jpg') }}"/>

        <!-- Members Section -->
        <div class="members-sect">
            <h1 class="hist-title hell-title">Members</h1>
                <div class="mem-row row-fluid">
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/dog.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/dog.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">President?</p>
                        <p class=".lead position">Possibly you.</p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/will.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/will.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Will Calkins</p>
                        <p class=".lead position">Vice President</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/willcalkins">@WillCalkins</a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/matt.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/matt.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Matt Ebeweber</p>
                        <p class=".lead position">Head Boomer</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/mattebeweber">@MattEbeweber</a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/jordan.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/jordan.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Jordan Williams</p>
                        <p class=".lead position">Officer of Debauchery</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/jordanrece">@JordanRece</a></p>
                    </div>
                </div>

                <div class="mem-row row-fluid">
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/haley.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/haley.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Haley Fuson</p>
                        <p class=".lead position">VP of Service</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/f_u_son12">@f_u_son12</a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/vic.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/vic.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Victor Le</p>
                        <p class=".lead position">Treasurer</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/rictorvictor ">@rictorvictor </a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/jer.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/jer.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class="name">Jeremiah Rodgers</p>
                        <p class=".lead position">Coach</p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/juan.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/juan.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Juan Jimenez</p>
                        <p class=".lead position">Athletic Director</p>
                    </div>
                </div>


                <div class="mem-row row-fluid">
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/bri.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/bri.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Bri Connelly</p>
                        <p class=".lead position">Pledge Trainer</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/bricon5 ">@bricon5</a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/michelle.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/michelle.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Michelle Song</p>
                        <p class=".lead position">Social Media Superstar</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/MichelleeSong ">@MichelleeSong</a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/justin.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/justin.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Justin Rowley</p>
                        <p class=".lead position">Baby Boomer</p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/heather.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/heather.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Heather Anderson</p>
                        <p class=".lead position">Baby Boomer</p>
                    </div>
                </div>

                <div class="mem-row row-fluid">
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/lj.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/lj.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">LJ Jones</p>
                        <p class=".lead position">Baby Boomer</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/realLJJones ">@realLJJones</a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/jt.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/jt.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">JT Dodd</p>
                        <p class=".lead position">Baby Boomer</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/jt_dodd ">@jt_dodd</a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/kyle.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/kyle.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Kyle Cook</p>
                        <p class=".lead position">Baby Boomer</p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/christy.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/christy.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Christy Keyes</p>
                        <p class=".lead position">Baby Boomer</p>
                    </div>
                </div>

                <div class="mem-row row-fluid">
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/emily.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/emily.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Emily Dewar</p>
                        <p class=".lead position">Baby Boomer</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/eedewar ">@eedewar</a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/caleb.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/caleb.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Caleb Jones</p>
                        <p class=".lead position">Baby Boomer</p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/beyonce.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/beyonce.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Beyonce Knowles</p>
                        <p class=".lead position">Honary Member</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/Beyonce ">@Beyonce</a></p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/niko.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/niko.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Niko Lazaris</p>
                        <p class=".lead position">Spring '14 Pledge</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/nikolazaris ">@nikolazaris</a></p>
                    </div>
                </div>

                <div class="mem-row row-fluid">
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/doug.jpg') }}"
                            mouseout="this.src='{{ url_for('static', filename='img/doug.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Doug Sechrist</p>
                        <p class=".lead position">"Future" Boomer</p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/austin.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/austin.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Austin Hackbarth</p>
                        <p class=".lead position">Baby Boomer</p>
                    </div>
                    <div class="span3">
                        <img class="cut-out circle mem" src="{{ url_for('static', filename='img/everett.jpg') }}"
                            onmouseout="this.src='{{ url_for('static', filename='img/everett.jpg') }}'"
                            onmouseover="this.src='{{ url_for('static', filename='img/boomerguy.jpg') }}'"/>
                        <p class=".lead name">Everett McMahan</p>
                        <p class=".lead position">Baby Boomer</p>
                        <p class="twitter"><a class="twitter-link" href="https://twitter.com/EverettMcM ">@EverettMcM</a></p>
                    </div>
                    <div class="span3">
                    </div>
                </div>
            </div>

        <!-- Testimonial Section -->
        <div class="test-sect">
            <h1 class="hist-title hell-title">Testimonials</h1>
            <div class="row-fluid">
                <p class="testy">"I transferred from LSU to UT just to join Texas Boomerangs." - Christy Keyes</p>

                <p class="testy">"I can't feel my liver." - Jordan Williams</p>

                <p class="testy">"The path to success is like a Boomerang" - Ronald Reagan</p>

                <p class="testy">"I love Texas Boomerangs more than animals." - Steve Irwin</p>

                <p class="testy">"I've been drinking [with my Boomerangs]." - Beyonce Knowles</p>
            </div>
        </div>

        <!-- Footer -->
        <div class="interested-sect">
            <h1 class="hist-title hell-title">Interested in Joining?</h1>
            <div class="row-fluid">
                <p class="testy">Well you can't.</p>
            </div>
        </div>
  </body>
</html>
